.list {
  display: flex;
  justify-content: center;
  height: 100%;
  &__wrapper {
    margin: 10px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    padding: 4px;
    width: 250px;
    min-height: 50px;
    border-radius: 10px;
  }
  .ant-btn {
    border: none;
    box-shadow: none;
  }
}
